html {
    font-size: 14px;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}
.btn {
    display: inline-block;
    background-color: red;
    border: 1px solid red;
    box-sizing: border-box;
    width: 162px;
    height: 60px;
    border-radius: 30px;
    color: white;    
    padding: 21px 30px;
    text-align: center;
    line-height: 15px;
    
}
.btn:hover{
    background-color: #f04848;
    
}
.navopen {
    background-color: rgba(0, 0, 0, .5);
}

.active {
    display: block;
}

.inner {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.logo {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: 15px;
    display: flex;
    align-items: center;

}

.logo a {
    padding-bottom: 10px;
}

.logo span {
    display: inline-block;
    color: red;
    transform: rotate(-5deg);
}

.nav-wrap {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.nav-wrap .nav-items .nav-item-title {
    font-size: 20px;
    padding: 30px 15px;
    font-weight: 600;
    position: relative;

}

.nav-wrap .nav-items:first-child .nav-item-title::after {
    content: 'shop';
    position: absolute;
    width: 42px;
    height: 20px;
    top: 14px;
    left: calc(50% - 21px);
    font-size: 14px;
    background-color: red;
    border-radius: 18px;
    text-align: center;
    color: white;
    font-weight: 400;

}

.nav-wrap .nav-items .nav-item-title span {
    color: red;
}


.nav-items .sub-menu {
    position: absolute;
    left: 0;
    margin-top: 30px;
    display: none;


}


.nav-items .sub-menu .inner {
    display: flex;
    padding: 20px 0;

}

.nav-items .sub-menu .sub-menu-summery {
    padding: 10px 20px;

}

.nav-items .sub-menu .sub-menu-summery h3 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 5px;
}

.nav-items .sub-menu .sub-menu-summery span {
    display: block;
    font-weight: 300;
    font-size: 14px;
}

.nav-items .sub-menu .sub-menu-items {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

.nav-items .sub-menu .sub-menu-items .sub-menu-item {
    width: 150px;
}

.nav-items .sub-menu .sub-menu-items .sub-menu-item .sub-menu-item-title {
    font-weight: 700;
    font-size: 20px;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 12px;
}



.nav-items .sub-menu .sub-menu-items .sub-menu-item .sub-menu-item-list {
    padding: 12px 0 0;
    font-weight: 300;
    font-size: 16px;
}

.utils {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    right: 30px;


}

.utils a {
    padding: 12px 13px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -1.2px;
    position: relative;
}

.utils a::before {
    content: "";
    background-color: #555;
    width: 1px;
    height: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -1px;
    margin: auto;
}

.utils a:last-child {
    font-size: 30px;
}

.utils a:last-child::before {
    display: none;
}

.bredcrumb {
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

.bredcrumb ul {
    display: flex;
}

.bredcrumb li {}

.bredcrumb ul li:not(:first-child) {
    margin-left: 15px;
    padding-left: 6px;
}

.bredcrumb ul li:not(:last-child)::after {
    content: '';
    background-color: #dbdbdb;
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    margin: auto;
    margin-left: 6px;

}

.bredcrumb ul li:not(:first-child)::before {
    content: '';
    width: 2px;
    height: 2px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-left: -12px;



}

.bredcrumb a {
    font-weight: 400;
    font-size: 14px;
    line-height: 48px;
    letter-spacing: -.03em;
}

.ads-main {
    width: 1500px;
    height: 600px;
    background-color: #555;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.ads-main .ads-items{
    width: 3000px;
    display: flex;
    background-color: #555;
    height: 100%;
    /* 자바스크립트로 페이지이동 추가 */
}
.ads-main .ads-item {
    width: 1500px;    
    height: 100%;
    
}
.ads-main .ads-item.item1{
    background: url(./images/main_vis_1_galaxy_220303.jpg);    
}

.ads-main .ads-item.item2{
    background: url(./images/main_vis_6.jpg);    
}
.ads-items .textgroup{
    display: inline-block;
    margin-left: 300px;
    margin-top: 150px;    
    font-size: 40px;
}
.ads-items .textgroup .title {
    font-weight: 300;
}
.ads-items .textgroup .text {
    font-weight: 700;
}
.ads-items .textgroup .text2 {
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
}
.ads-items .textgroup .btn{
    margin-top: 50px;
    font-size: 14px;
}
.ads-main .prev,.ads-main .next{
    height: 50px;
    position: absolute;    
    top: 0;
    bottom: 0;
    margin: auto 0;
    font-size: 50px;
    background-color: #dbdbdb;
    color: white;
    border-radius: 25px;
    cursor: pointer;
}
.ads-main .prev:hover,.ads-main .next:hover{
    background-color: red;
}
.ads-main .prev{
    left:50%;
    margin-left: -600px;
}
.ads-main .next{
    right: 50%;
    margin-right: -600px;
}

.pagination {
    position: absolute;
    width: 1500px;
    bottom: 0;     
    display: flex;
    justify-content: center;
}

.pagelist{
    box-sizing: border-box;
    background-color: #dbdbdb;
    width: 10px;
    height: 10px;
    margin: 10px 5px;
    border-radius: 25px;
}
.pagelist.active {
    border: 1px solid red;
}